*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.field {
  height: 100%;
  background: url("../assets/images/field.jpg");
  background-size: 100% 100%;
  padding: 1.5em;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, calc(100vh) / 12);
  grid-gap: 0px;
  grid-template-areas:
    "player1  player2  player5  player7  player11"
    "player1  player2  player5  player7  player11"
    "player1  player2  player5  player7  player11"
    "player1  player2  player5  player8  player11"
    "player1  player3  player5  player8  player11"
    "player1  player3  player5  player8  player11"
    "player1  player3  player6  player9  player11"
    "player1  player3  player6  player9  player11"
    "player1  player4  player6  player9  player11"
    "player1  player4  player6  player10 player11"
    "player1  player4  player6  player10 player11"
    "player1  player4  player6  player10 player11";
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player>img {
  width: 30%;
}

.player>span {
  font-size: 1.5em;
}

.player:nth-child(1) {
  grid-area: player1;
}

.player:nth-child(2) {
  grid-area: player2;
}

.player:nth-child(3) {
  grid-area: player3;
}

.player:nth-child(4) {
  grid-area: player4;
}

.player:nth-child(5) {
  grid-area: player5;
}

.player:nth-child(6) {
  grid-area: player6;
}

.player:nth-child(7) {
  grid-area: player7;
}

.player:nth-child(8) {
  grid-area: player8;
}

.player:nth-child(9) {
  grid-area: player9;
}

.player:nth-child(10) {
  grid-area: player10;
}

.player:nth-child(11) {
  grid-area: player11;
}

.choosePlayerModal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
}

.choosePlayerModal .modal-content {
  background-color: lightgray;
  height: 50%;
  width: 25%;
  border-radius: 10%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choosePlayerModal .modal-header,
.choosePlayerModal .modal-body,
.choosePlayerModal .modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choosePlayerModal .modal-body>img {
  width: 80%;
}

@media screen and (orientation: portrait) {
  .field {
    background: url("../assets/images/field_rotated.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0px;
    grid-template-areas:
      "player1  player1  player1  player1  player1  player1  player1  player1  player1  player1  player1  player1"
      "player4  player4  player4  player4  player3  player3  player3  player3  player2  player2  player2  player2"
      "player6  player6  player6  player6  player6  player6  player5  player5  player5  player5  player5  player5"
      "player10 player10 player10 player9  player9  player9  player8  player8  player8  player7  player7  player7"
      "player11 player11 player11 player11 player11 player11 player11 player11 player11 player11 player11 player11";
  }

  * {
    font-size: 0.75em;
  }

  .player>img {
    height: 20em;
    width: 15em;
  }

  .modal-content {
    height: 50%;
    width: 60%;
  }
}